<div class="container__big-card">
  <div class="big-card__image">
    <img src="https://placehold.co/600x400/EEE/31343C" alt="">
  </div>

  <div class="big-card__title">
    <h1>Saiu a nova versão do Angular</h1>
  </div>

  <div class="big-card__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, laboriosam molestiae.
      Dolorem doloremque officia, animi similique, non adipisci itaque voluptatum id unde sequi tempora.
      Sapiente qui non unde dolore molestiae.
    </p>
  </div>
</div>
